<form method="POST" action="/posts">
  <h2>Name: <input type="text" name="blog[name]" id="name"></h2>
    <p>Post: <input type="text" name="blog[post]"id="content"></p>
    <input type="submit" id="submit">

</form>
